.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #000003, #00000f);
    position: relative;
  
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;

      .textContainer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;

        h1{
            font-size: 60px;
        }

        .logoStroke{
            width: 100%;
        }
      }
  
      @media only screen and (max-width: 1366px) {
        padding: 0 20px; // Adjust padding for smaller screens
      }
    }
  
    .imageContainer {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
  
      @media only screen and (max-width: 768px) {
        display: none; // Hide image container on smaller screens
      }
    }
  
    .image-stack {
      position: relative;
    }
  
    .image {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 50px;
      transition: transform 0.3s ease-in-out;
  
      @media only screen and (max-width: 768px) {
        display: none; // Hide images on smaller screens
      }
    }
  }
  